
/*d3js*/
* {
    margin: 0;
    padding: 0;
}

.investment {
    display: flex;
    justify-content: center;
}

.investment svg {
    background-color: #ecf0f1;
}

.investment .node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.investment .node text {
    font-size: 11px;
    cursor: pointer;
}

.investment path.link {
    fill: none;
    stroke: #111;
    stroke-width: .2px;
}