#navigation{
    width: 100%;
    height: 30px;

}
#navigation a{
    display: inline-block;
    width: 7%;
    height: 100%;
    text-decoration: none;
    color: #aaa;
    text-align: center;
}
.outbound .portrait{
    line-height: 30px;
    height: 30px;
}
.outbound .portrait span{
    display: inline-block;
    border-radius: 15px;
    padding: 1px 15px;
    background: #e1f2fa;
    margin-bottom: 5px;
    font-size: 14px;
}
.outbound .team_row{
    width: 100%;
    min-height: 30px;
}
.outbound .team_row .row_detail{
    /*width: 100%;*/
    /*min-height:114px;*/
    /*margin: 0 auto;*/
    /*margin-bottom: 10px;*/
    /*position: relative;*/
    /*border: 1px solid #f0f0f0;*/
    overflow: hidden;
    border: 1px solid #f0f0f0;
    margin-bottom: 8px;
    padding: 2px 0;
    position: relative;
}
.team_left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 86px;
    background: #fafafa;
}
 .img-outer {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 10px auto;
    overflow: hidden;
}
.img-outer img{
    display: block;
    width: 60px;
    margin: 0 auto;
    /*padding-top: 10px;*/
}
.team-name {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}
.team_right{
    float: right;
    padding-right: 20px;
    min-height: 108px;
    width: calc(100% - 86px);
    background: #fff;
    line-height: 24px;
}
.team_title{
    font-size: 15px;
    margin: 12px 32px 8px;
    color: #474747;
    font-weight: 700;
}
.team_right ul{
    font-size: 14px;
    color: #009bae;
    padding-left: 52px;
    margin-top: 11px;
}
.product_item{
    margin-bottom: 20px;
    width: 33.333333333333336%;
    float: left;
}
.product_item .product_left {
    width: 80px;
    height: 80px;
    line-height: 80px;
    float: left;
    vertical-align: middle;
    border: 1px solid #ebebeb;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.product{
   height: 300px;
}
.product_item img {
    max-width: 79px;
    max-height: 79px;
    margin: 0 auto;
    display: inline-block;
    border: 0;
    padding: 0;
}
.product_item .product_right {
    float: right;
    width: 250px;
    padding-left: 20px;
    padding-top: 3px;
    font-size: 14px;
}
.product_right .hangye {
    margin-top: 5px;
    color: #777;
}
.product_item .product_right .yeweu {
    position: relative;
    padding: 5px 0 0;
    margin-top: 5px;
    color: #919191;
}
.product_item .product_right .yeweu:before {
    content: " ";
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 3px;
    background: #00bbcb;
    top: 0;
    left: 0;
}
.jp-image{
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
    margin: 10px 0;
    vertical-align: middle;
}
.jp-text{
    display: inline-block;
    vertical-align: middle;
    color:#00c9e1;
}
.jp-text a{
   text-decoration: none;
    color:#00c9e1;
}
tr{
    color:#4d4d4d;
}
.outbound .event{
    width: 1138px;
    height: 210px;
    margin: 0 auto;
    border: 1px solid #f0f0f0;
}
.all{
    width: 1138px;
    height: 200px;
    padding-top: 10px;
    padding-left: 25px;
    font-size: 12px;
    color: #757986;
}
.all .allheader{
    width: 70px;
    float: left;
}
.all .alllist{
    width: 920px;
    height: 180px;
    float: left;
}
.all .alllist .name{
    display: inline-block;
    margin: 0;
    color: #757575;
    cursor: pointer;
}
.all .alllist span{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.all .alllist .name a{
    text-decoration: none;
    color: #757575;
}

.all .alllist .name a{
    text-decoration: none;
    color: #757575;
}
.all .alllist span a{
    text-decoration: none;
    color: #757575;
}
.all .alllist span a:hover{
    color: #00b6c6;
}
.all .alllist .name a:hover{
    color: #00b6c6;
}
 .keywords{
    width: 100%;
    height: 10px;
    background-color: red;
}
.eventimg{
    width: 100%;

}

.bc_search{
    width: 100%;
    height: 68px;
    /*background:url("../images/mainpage-header-bg.png") no-repeat;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
    background-color: #379af0;
}
.bc_search .bc_search_main{
    width: 1100PX;
    height: 100%;
    margin: 0 auto;
}
.bc_search .bc_search_main .search_logo{
    margin-top: 15px;
    float: left;
}
.bc_search .bc_search_main .head_search{
    width: 456px;
    height: 100%;
    /*border: 1px solid #fff;*/
    margin-left: 20px;
    float: left;
}
.bc_search .bc_search_main .head_search input{
    height: 30px;
    width: 401px;
    padding-left: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 18px;
    border: none;
    float: left;
}
.bc_search .bc_search_main .head_search .search_btn{
    margin-top: 18px;
    height: 30px;
    width: 55px;
    margin-left: -1px;
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background:url("../images/search_nor.png") no-repeat -6px -4px;
}
.bc_search .bc_search_main .right-title{
    float: right;
    text-align: center;
    height: 68px;
    line-height: 65px;
    position: relative;
    font-size: 18px;
    cursor: default;
}
.right-title span {
    font-size: 12px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    height: 68px;
    width: 90px;

}
.right-title span .right-title-img1{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/home_nav.png") ;
    background-repeat: no-repeat;
}
.right-title span .right-title-img1:hover{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/home_hig.png") ;
    background-repeat: no-repeat;
}
.right-title span .right-title-img2{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/relation_nav.png") ;
    background-repeat: no-repeat;
}
.right-title span .right-title-img2:hover{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/relation_hig.png") ;
    background-repeat: no-repeat;
}
.right-title span .right-title-img3{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/risk_nav.png") ;
    background-repeat: no-repeat;
}
.right-title span .right-title-img3:hover{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/risk_hig.png") ;
    background-repeat: no-repeat;
}
.right-title span .right-title-img4{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/search_nav.png") ;
    background-repeat: no-repeat;
}
.right-title span .right-title-img4:hover{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/search_hig.png") ;
    background-repeat: no-repeat;
}
.right-title span .right-title-img5{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/mine_nav.png") ;
    background-repeat: no-repeat;
}
.right-title span .right-title-img5:hover{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/mine_hig.png") ;
    background-repeat: no-repeat;
}

/*index1*/
body,html{
    padding: 0;
    margin: 0;
    background-color: #f6f7f7;
}
.container{
    position: relative;
}
.index-head{
    min-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    height: 68px;
    width: 100%;
    z-index: 16;
    background-image:url(../images/mainpage-header-bg.png) ;
    position: fixed;
    top: 0;
    left: 0;
}
.index-head .index-head-mid{
    width: 85%;
    height: 100%;
    margin: 0 auto;
}
.index-head .index-head-mid .title-logo{
    height: 68px;
    float: left;
    cursor: pointer;
}
.index-head .index-head-mid .title-logo img{
    margin-top: 15px;
}
.index-head .index-head-mid .right-title{
    float: right;
    text-align: center;
    height: 68px;
    line-height: 65px;
    position: relative;
    font-size: 18px;
    cursor: default;
}
.right-title span {
    font-size: 12px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    height: 68px;
    width: 90px;

}

.right-title span .right-title-img1{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/sy.png") ;
    background-repeat: no-repeat;
}

.right-title span .right-title-img2{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/connect.png") ;
    background-repeat: no-repeat;
}

.right-title span .right-title-img3{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/genealogy.png") ;
    background-repeat: no-repeat;
}

.right-title span .right-title-img4{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/search_nav.png") ;
    background-repeat: no-repeat;
}

.right-title span .right-title-img5{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image:url("../images/timeline.png") ;
    background-repeat: no-repeat;
}

.banner-bottom{
    position: fixed;
    z-index: 19;
    left: 0;
    bottom: 20px;
    width: 120px;
    height: 60px;
    /*display: none;*/
    background:url("../images/banner-small.png") no-repeat;
}
.main{
    width: 100%;
    background-color: #15161d;
    margin-top: -10px;
    height: 323px;
    background:url("../images/mainpage-bg1.png") no-repeat;
    padding-top: 125px;
}
.main .main-content{
    height: 311px;
    width: 1149px;
    margin: 0 auto;
    /*text-align: center;*/
    /*color: #e1e1e1;*/
    /*font-size: 36px;*/
}
.main .main-content .main-content-banner{
    width: 100%;
    height: 51px;
    text-align: center;
    color: #e1e1e1;
    font-size: 36px;
    margin-bottom: 27px;
}
.main .main-content .main-content-banner .dian{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    color: #9498a7;
}
.main .main-content .main-content-top{
    width: 100%;
    height: 28px;
    text-align: center;
    color: #cdd4e6;
}
.main .main-content .main-content-top span{
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.main .main-content .main-content-top tt{
    color: #aabdc4;
    font-size: 15px;
    margin-left: 3px;
}
.main .main-content .main-content-top .one{
    background-color: rgba(205,212,230,.8);
    color: #3d404d;
}
.main .main-content .main-content-top .one:after{
    width: 0;
    height: 0;
    border: 6px solid #4d4d4d;
    border-color: rgba(205,212,230,.8) transparent transparent;
    content: " ";
    position: absolute;
    top: 27px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}
.main .main-content .main-content-search{
    margin-top: 15px;
    height: 59px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.main .main-content .main-content-search input{
    height: 50px;
    width: 609px;
    border: none;
    padding-left: 11px;
    display: inline-block;

}
.main .main-content .main-content-search .input-search{
    background-color: #00b6c6;
    /*border-color: red;*/
    cursor: pointer;
    width: 120px;
    display: inline-block;
    height: 50px;
    font-size: 20px;
    border-radius: 2px;
    /*background-color: red;*/
    color: #fff;
    border: 1px solid transparent;
    vertical-align: top;
}
.main .main-content .main-content-search .input-search span{
    display: block;
    margin-top: 10px;
}
.main-hot{
    margin-top: 40px;
    font-size: 15px;
    width: 100%;
    height: 100px;
    text-align: center;
}
.hot_title{
    color:#cdd4e6;
    font-size: 15px;
}
.hot_content{
    text-align: left;
    max-width: 600px;
    min-width: 100px;
    height: 100px;
    vertical-align: top;
    display: inline-block;
    color: #828282;
    margin-top: -3px;
}
.hot_content a{
    color: #cdd4e6;
    text-decoration: none;
}
.hot_content a span{
    margin-right: 14px;
    margin-bottom: 15px;
    display: inline-block;
    /*background-color: hsla(0,0%,100%,.7);*/
    padding: 4px 10px;
    cursor: pointer;
    font-size: 14px;
    /*color: #4d4d4d;*/
}
.main_follow{
    min-width: 1170px;
    height: 315px;
    text-align: center;
    background-image: url(../images/mainpage-bg2.png);
    background-size: 100% 100%;
}
.carousel_title{
    margin: 20px;
    padding: 0 20px;
    display: inline-block;
    color: #cdd4e6;
    font-size: 18px;
    white-space: nowrap;
}
.carousel_title span{
    display: inline-block;
    margin:1px 1px ;
    vertical-align: baseline;
}
.carousel_icon{
    width: 20px;
    height: 20px;
    background: url(../images/title.png) no-repeat 0 1px;
    margin-right: 10px;
    margin-top: 4px;
    line-height: 17px;
    vertical-align: middle;
    display: inline-block;
    float: left;

    padding: 0;
    font-style: normal;
}
.carousel_warp{
    margin: 0 auto;
    width: 900px;
    text-align: center;
    position: relative;
}
.carousel_warp .carousel_item{
    padding: 10px;
    margin: 0 10px;
    width: 180px;
    height: 180px;
    display: inline-block;
    background-image: url(../images/bg-1.png);
    background-size: 100% 100%;
    position: relative;
}
.carousel_warp .carousel_item .img{
    display: inline-block;
    width: 120px;
    height: 120px;
    background: url(../images/ico-3.png) 50% no-repeat;
}
.carousel_warp .carousel_item .binding{
    padding: 0;
    margin: 0;
    color: #eefffa;
    font-size: 16px;
}
.carousel_warp .carousel_item .num{
    color: #fff;
    font-size: 26px;
}
.carousel_warp .carousel_item .img2{
    display: inline-block;
    width: 120px;
    height: 120px;
    background: url(../images/ico-4.png) 50% no-repeat;
}
.carousel_warp .carousel_item .img3{
    display: inline-block;
    width: 120px;
    height: 120px;
    background: url(../images/ico-1.png) 50% no-repeat;
}
.main_follow .carousel_slide{
    margin: 16px auto;
    border-radius: 10px;
    display: inline-block;
    background: #687185;
    padding-left: 6px;
    padding-right: 6px;
}
.main_follow .carousel_slide .slide_active{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 2px 4px;
    cursor: pointer;
    background: #00e7f7;
    border: none;
}
.choose{
    width: 1170px;
    margin:  0 auto;
    margin-top: 44px;
    height: 447px;
    border: 1px solid rgb(231,235,236);
}
.index_foot{
    /*width: 1349px;*/
    width: 100%;
    height: 165px;
    background-color: #f8f8f8;
    margin: 0 auto;
    margin-top: 90px;
    padding-top: 20px;
}
.index_foot .foot_main{
    width: 100%;
    height: 125px;
    text-align: center;
    color: #858585;
}
.index_foot .foot_main .foot_address{
    display: inline-block;
    padding-top: 14px;
    border-top: 1px solid #f0f0f0;;
}
.index_foot .foot_main .foot_address span{
    font-size: 14px;
    margin-right: 20px;
}
.index_foot .foot_main .copy_right{
    margin-top: 12px;
    font-size: 14px;
}
.choose_nav{
    width: 1168px;
    height: 44px;
    border: 1px solid rgb(231,235,236);
    border-top: none;
}
.choose_nav_item{
    width: 25%;
    height: 100%;
    border-right: 1px solid rgb(231,235,236);
    float: left;
    box-sizing: border-box;
}
.choose_nav_item p{
    text-align: center;
    height: 44px;
    line-height: 44px;
    margin: 0;
    font-size: 14px;
    /*border-top: 3px solid #009BAE;*/
}
.choose_nav_item .search_active{
    border-top: 3px solid #009BAE;
    height: 44px;
    line-height: 40px;
    border-bottom: none;
    border-right: 1px solid rgb(231,235,236);
}

.danger-inf-title,{
    padding-top: 20px;
    display: block;
    line-height: 45px;
    clear: both;
}
.danger-inf-title>a{
    text-decoration: none;
    color: #6d6d6d;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    padding: 2px 10px;
    margin-right: 10px;
    font-size: 12px;
}
.danger-inf-title .title_active{
    color: #009bae;
    border: 1px solid #009bae;
    font-size: 12px;
}

#loading{
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 1000px;;
    background-color: #eee;
    display: none;
    opacity: 0.5
 }
#loading img{
    display: block;
    width:150px;
    margin: 10em auto;
}
a.tab-rel-found {
    color: #fff;
    text-decoration: none;
}
a.tab-rel-found:hover
a.tab-rel-found:focus {
    color: rgb(8,186,215);
    text-decoration: none;
}
.portray-content {
    line-height: 30px;
}
.portray-item {
    display: inline-block;
    border-radius: 15px;
    padding: 1px 15px;
    background: #e1f2fa;
    margin: 0 7px;
    margin-bottom: 5px;

}
.team-item {
    overflow: hidden;
    border: 1px solid #f0f0f0;
    /*margin-bottom: 8px;*/
    padding: 2px 0;
    position: relative;
    /*height: 300px;*/
}
.team-item .team-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 86px;
    background: #fafafa;
}
.team-item .team-name {
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}
.team-item .team-right {
    float: right;
    padding-right: 20px;
    min-height: 108px;
    width: calc(100% - 86px);
    background: #fff;
    line-height: 24px;
}
.team-item .team-title {
    font-size: 15px;
    margin: 12px 12px 8px;
    color: #474747;
    font-weight: 700;
}
.team-item .team-right ul {
    padding-left: 30px;
    padding-bottom: 10px;
    color: #009bae;
}
.row>.row>div:nth-child(odd){
    background-color: #f1f9fc;;
    box-sizing: border-box;
    padding:10px 0;
    text-align: center;
    border: 1px solid #eee;
}
.row>.row>div:nth-child(even){
    background-color: #fff;;
    box-sizing: border-box;
    padding:10px 0;
    text-align: center;
    border: 1px solid #eee;
    height: 42px;
}