body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 14px;
}

#canvasArea {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    width: 100%;
}

#canvasArea #graph {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0 0 2px 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    background-color: #ecf0f1;
}

#canvasArea svg {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

text {
    font: Microsoft YaHei;
    pointer-events: none;
    user-select: none;
}

.link {
    stroke-opacity: 1;
    stroke-width: 1.6;
}

.link-active {
    stroke-opacity: 1;
    stroke-width: 3;
}

.linetext {
    font-family: Microsoft YaHei;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

#legendsArea {
    position: absolute;
    right: 4px;
    top: 4px;
}

#legendsArea .legend-wrapper {
    width: 80px;
    text-align: center;
    background: #fff;
    border: 1px solid rgb(205, 205, 205);
    /* box-shadow: 2px 2px 4px rgb(205, 205, 205); */
    pointer-events: none;
    user-select: none;
}

#legendsArea .legend-wrapper .node-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

#legendsArea .legend-wrapper .node-item+.node-item {
    border-top: 1px solid rgb(205, 205, 205);
}

#legendsArea .legend-wrapper .node-item .node-name {
    font-size: 12px;
    font: Microsoft YaHei;
}

.info-warp {
    position: absolute;
    top: 4px;
    right: 83px;
    width: 230px;
    margin: 0;
    background: #fff;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #d1cec9;
    /* box-shadow: 2px 2px 4px #888888; */
}

.info-warp .company-title {
    display: flex;
    align-items: center;
    height: 45px;
    line-height: 45px;
    color: #171717;
}

.info-warp .close-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.info-warp .company-title .company-name {
    display: inline-block;
    width: 180px;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;
}

.info-warp .company-title .company-name .company-link {
    cursor: pointer;
    text-decoration: none;
    color: #1A1A1B;
}

.info-warp .company-title .company-reg-status {
    float: right;
    line-height: 12px;
    padding: 2px;
    border: 1px solid #00aae2;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 12px;
    color: #00aae2;
}

.info-warp .company-info>div {
    font-size: 13px;
    color: #777;
    position: relative;
    line-height: 20px;
}

.info-warp .company-info>div:before {
    width: 5px;
    height: 5px;
    background: #e4e4e4;
    position: absolute;
    left: 0;
    top: 10px
}

input::-webkit-search-cancel-button {
    display: none;
}


/* bottom tool bar*/

nav#optionsArea {
    position: fixed;
    bottom: 0;
    z-index: 99999;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    background: rgb(25, 146, 246);
}

ul#toolBar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}

ul#toolBar>li {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
}

ul#toolBar>li+li {
    margin-left: 10px;
}


/* search menu */

#searchMenu {
    width: 187px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgb(25, 146, 246);
}

#searchMenu::before {
    /* search icon */
    position: absolute;
    top: 10px;
    right: 6px;
    color: #979797;
    font-size: 18px;
}

#searchMenu .searchInputText {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding-right: 30px;
    text-overflow: ellipsis;
    text-indent: 6px;
    overflow: hidden;
    background-color: #ffffff;
    color: black;
    border: black;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
}

#searchMenu .suggestWraper {
    display: none;
    box-sizing: border-box;
    position: absolute;
    z-index: 99;
    min-width: 168px;
    max-height: 340px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #1091F5;
    border-bottom: none;
    bottom: 40px;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
    list-style: none;
    overflow-y: auto;
    user-select: none;
    cursor: pointer;
}

#searchMenu .suggestWraper .suggest-item {
    max-width: 184px;
    color: #2980b9;
    padding: 10px;
    border: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#searchMenu .suggestWraper .suggest-item:hover,
#searchMenu .suggestWraper .suggest-item:focus {
    background: rgb(4, 142, 247);
    color: #fff;
    text-decoration: none;
}

#searchMenu .suggestWraper>li:first-of-type {
    border: none;
}

#searchMenu .suggestWraper>li {
    border-top: solid 0px #bdc3c7;
}

ul#toolBar>li:hover #searchMenu .suggestWraper {
    display: block;
}

#searchMenu .suggestWraper::-webkit-scrollbar {
    width: 4px;
}

#searchMenu .suggestWraper::-webkit-scrollbar-track {
    background-color: rgb(242, 241, 239);
}

#searchMenu .suggestWraper::-webkit-scrollbar-thumb {
    background-color: rgb(197, 194, 188);
}


/* filter menu */

ul#toolBar>li:hover #filterMenu .filterWrapper {
    display: block;
}

#filterMenu {
    box-sizing: border-box;
    display: block;
    height: 40px;
    background-color: rgb(25, 146, 246);
    cursor: pointer;
}

#filterMenu .filter-title {
    height: 30px;
    line-height: 29px;
    margin-top: 5px;
    padding: 0 30px 0 10px;
    border: 1px solid#fff;
    border-radius: 4px;
    font-size: 12px;
}

#filterMenu .filter-title::before {
    /* toggle icon */
    position: absolute;
    right: 10px;
    font-size: 18px;
}

#filterMenu .filterWrapper {
    display: none;
    position: absolute;
    z-index: 99;
    width: 90px;
    bottom: 40px;
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;
    background-color: #fff;
    border: 1px solid #1091F5;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
    list-style: none;
    user-select: none;
    cursor: pointer;
}

#filterMenu:hover .filterWrapper {
    display: block;
}

ul#toolBar>li:hover #filterMenu .filterWrapper {
    display: block;
}

#filterMenu .filterWrapper li {
    color: #555451;
    display: block;
}

#filterMenu .filterWrapper li.filter-item {
    padding: 8px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
}

#filterMenu .filterWrapper .filter-item input,
#filterMenu .filterWrapper .filter-item label {
    margin: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
}

#filterMenu .filterWrapper .filter-item label {
    width: 100%;
    padding: 5px 0 5px 5px;
    margin: -5px 0;
}

#filterMenu .filterWrapper .filter-item input[type=checkbox]::before {
    box-sizing: border-box;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    background-color: #fff;
    border: 1px solid #5774ff;
    border-radius: 2px;
}

#filterMenu .filterWrapper .filter-item input[type=checkbox]:checked::before {
    content: '\2714';
    background-color: #5774ff;
}


/* loading  animation */

#loading-mask,
#timeline-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, .2);
    z-index: 999;
    filter: alpha(opacity=60);
}

#timeline-mask {
    top: 68px;
}

.loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    height: 150px;
    align-items: center;
    justify-content: center;
    transform: scale(0.6);
}

#loading-mask .loader {
    margin-top: -190px;
}

#timeline-mask .loader {
    margin-top: -68px;
}

@keyframes loading-anim {
    50% {
        transform: scale(0.3);
        opacity: 0.3;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.loading-anim {
    position: relative;
}

.loading-anim i {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
}

.loading-anim i:nth-child(1) {
    top: 25px;
    left: 0;
    animation: loading-anim 2s ease 0s infinite;
}

.loading-anim i:nth-child(2) {
    top: 17px;
    left: 17px;
    animation: loading-anim 2s ease -0.25s infinite;
}

.loading-anim i:nth-child(3) {
    top: 0;
    left: 25px;
    animation: loading-anim 2s ease -0.50s infinite;
}

.loading-anim i:nth-child(4) {
    top: -17px;
    left: 17px;
    animation: loading-anim 2s ease -0.75s infinite;
}

.loading-anim i:nth-child(5) {
    top: -25px;
    left: 0;
    animation: loading-anim 2s ease -1.00s infinite;
}

.loading-anim i:nth-child(6) {
    top: -17px;
    left: -17px;
    animation: loading-anim 2s ease -1.25s infinite;
}

.loading-anim i:nth-child(7) {
    top: 0;
    left: -25px;
    animation: loading-anim 2s ease -1.50s infinite;
}

.loading-anim i:nth-child(8) {
    top: 17px;
    left: -17px;
    animation: loading-anim 2s ease -1.75s infinite;
}